/* Import necessary fonts */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fuggles&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fuggles&family=Josefin+Sans:wght@100&family=Lilita+One&family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Fuggles&family=Josefin+Sans:wght@100&family=Lilita+One&family=Martian+Mono:wght@300&family=PT+Serif:ital,wght@1,700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@700&family=Ephesis&family=Lugrasimo&family=Roboto:wght@100&display=swap');
/* My root variables for color scheme */
:root {
    /* My color variables */
    --primary-color: #f10a0a;
    --secondary-color: #390998ef;
    --background-color: #030327fb;
    --testimonial-color:#e3dfe3;
    --text-color-light: #f7f3f3;
    --box-shadow-color:#f1ecfd;
}
/* General styles */
body,
ul {
     /* Body styles */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Set a default font */

}
body{
    background-color: var(--background-color);

}

/* Header Styles */
header {
    background-color: var(--secondary-color);
    color: --primary-color;
    padding: 0px;
    position: fixed;
    width: 100%;
}
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo img {
    width: 50px;
    border-radius: 50%;
    box-shadow:var(--box-shadow-color) 0px 5px 15px;;
}
.logo h1{
    position: absolute;
    margin-top: -49px;
    margin-left: 50px;
    font-size: 25px;
    font-family: Caveat;
    color: var(--text-color-light);
}
.logo i{
    position: absolute;
    margin-top:6px;
    margin-left: 85px;
    font-size: 27px;
    color: var(--text-color-light);
}
.search-bar{
    display: flex;
    cursor: pointer;
    background: #fff;
    padding: 6px;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px var(--box-shadow-color);
}
.search-bar:hover input{
    width: 500px;
}
.search-bar input {
    width: 500px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
}
.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu a{
    color: var(--text-color-light);
    text-decoration: solid;
    background-color: none;
    font-family: Inter;
    font-size: 15px;    
}
.menu :hover{
    color: var(--primary-color);
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    top: 12%;
    font-size: 2.5rem;
    color: var(--text-color-dark);
    cursor: pointer;
    display: none;
    color: var(--text-color-light);
}
/* Hero Section Styles */
.hero {
    background-image: url(images/bg_image.jpg);    
    background-color: var(--background-color);/* Replace with your image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: var(--text-color-light);
    box-sizing: border-box;
    border: 74px solid var(--background-color);
    height: 900px;
}

.hero h1 {
    font-size: 3em;
    font-family: PT Serif;
    font-size: 52px;
    margin-bottom: 20px;
    color: #f51e30;
    
}
.hero p {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.hero .cta-btn {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #ff440078;
    color: #f7f1fe;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}
.hero .cta-btn:hover{
    font-size: large;
    background-color: #2c7cfe90;
}
/* Feature Section Styles */
.features {
    height: 100%;
    display: grid;
    width: 90%;
    padding-bottom:60px ;
    place-items: center;
}
.section-heading{
    color: var(--text-color-light);
    font-family: PT Serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}
.card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px var(--box-shadow-color);
    cursor: pointer;
    transition: 0.5s;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 1em 0;
}
p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.icon-wrapper {
    background-color: #2c7bfe;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
.card:hover {
    background-position: 0 100%;
}
.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
}
.card:hover h3 {
    color: #ffffff;
}
.card:hover p {
    color: #f0f0f0;
}
@media screen and (min-width: 992px) {
    .features {
    margin-left: 90px;
    }
    .column {
    flex: 0 0 25.33%;
    max-width: 25.33%;
    padding: 2rem;
    }
    .row{
        padding: 2rem;
    }
}
/*Testimonials section styles*/
.test h1{
    text-align: center;
    font-family: PT Serif;
    font-size: 20px;
    padding: 50px;
    color: var(--text-color-light);
}
.testimonials{
    display: flex;
}
figure.testimonial {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 15px;
    min-width: 300px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: var(--box-shadow-color) 0px 5px 15px;
}
figure.testimonial * {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
    max-width: 100%;
    vertical-align: middle;
}
figure.testimonial blockquote {
    background-color: var(--testimonial-color);
    padding: 25px 50px 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
    position: relative;
}
figure.testimonial blockquote:before,
figure.testimonial blockquote:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\201C";
    font-size: 30px;
    opacity: 0.3;
    font-style: normal;
}
figure.testimonial blockquote:before {
    top: 25px;
    left: 16px;
}
figure.testimonial blockquote:after {
    content: "\201D";
    right: 18px;
    bottom: 20px;
}
figure.testimonial .author {
    bottom: 0;
    width: 100%;
    padding: 5px 25px;
    color: #000000;
    background-color: var(--testimonial-color);
    margin: 0;
    text-transform: uppercase;

}
figure.testimonial .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}
figure.testimonial .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}
/* Footer Styles */
footer {
    background-color: var(--secondary-color);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    display: inline;
    margin-right: 20px;
}

.footer-links ul li a {
    color: var(--text-color-light);
    text-decoration: none;
}
.footer-links ul li a:hover{
    color: var(--primary-color);
}
/*Footer social media styles*/
.social-media i{
transition: transform .2s;
font-size: 20px;
}
.social-media i:hover{
transform: scale(1.1);
}
/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    /* Responsive styles for tablets */
    .logo img {
        width: 40px;
    }
    .logo h1{
        margin-top: -42px;
        margin-left: 42px;
    }
    .search-bar{
        margin-right: 15%;
        padding: 4px;
    }
    .search-bar input {
        width: 0px;
    }
    .search-bar:hover input{
        width: 220px;
    }
    .menu-bar{
        top: 70px;
    }
    .hero{
        border: none;
    }
    .hero h1 {
        font-size: 2.5em;
    }
    
    .hero p {
        font-size: 1em;
    }
    
    .hero .cta-btn {
        font-size: 1em;
    }
    
    .feature{
        max-width: 200px;
        margin: 10px;
        font-size: 15px;
        align-items: center;
    }
    .section-heading{
        padding: 40px;
    }
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .menu-bar{
        position: absolute;
        top: 63px;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.142);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: .1s ease;
    }
    #check:checked~.menu-bar{
        height: 17.7rem;
    }
    .menu{
        display: block;
    }
    .menu a{
        display: grid;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }
    #check:checked~.menu-bar a{
        transform: translateY(0);
        transition-delay:calc(.15s * var(--i)) ;
        opacity: 1;

    }
    /* Keyframes for scrolling animation */
    .testimonials{
        overflow: hidden;

    }
    .testimonial{
        animation: scroll 10s linear infinite;

    }
@keyframes scroll {
    0% {
        transform: translateX();
    }
    100% {
        transform: translateX(-145%);
    }
}
figure.testimonial blockquote:before,
figure.testimonial blockquote:after {
    font-size: 25px;
    
}
.footer-links{
    font-size: 15px;
}
}
@media screen and (max-width: 480px) {
    /* Responsive styles for mobile phones */
    .logo img {
        width: 30px;
    }
    .logo h1{
        margin-top: -32px;
        margin-left: 34px;
        font-size: 20px;
    }
    .logo i{
        margin-top: 3px;
        margin-left: 66px;
        font-size: 20px;
    }
    .search-bar{
        margin-right: 20%;
    }
    .search-bar input {
        width: 0px;
    }
    .search-bar:hover input{
        width: 120px;
    }
    .menu-bar{
        top: 51px;
    }
    .hero{
        border: none;
    }
    .hero h1 {
        font-size: 2em;
    }
    
    .hero p {
        font-size: 0.9em;
    }
    
    .hero .cta-btn {
        font-size: 0.9em;
    }
    .testimonial {
        max-width: 200px;
    }
    .testimonial{
        animation: scroll 15s linear infinite;

    }
@keyframes scroll {
    0% {
        transform: translateX();
    }
    100% {
        transform: translateX(-208%);
    }
}
figure.testimonial blockquote:before,
figure.testimonial blockquote:after {
    font-size: 15px;
}
.footer-links{
    font-size: 10px;
}
}
